@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif !important;
}

body video {
    width: 100%;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

body a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body ul {
    list-style: none;
    padding-left: 0;
}


/*--------------------- Header ---------------------*/


header hr {
    position: relative;
    top: 20px;
}

header .ms-2 {
    padding-left: 7px;
    border-left: 1px solid black;
    font-size: 14px;
    width: 100px;
}

header i {
    font-size: 25px;
}

header .location a {
    font-weight: 500;
}

header .phone,
header .insta {
    padding-bottom: 2px;
    background: linear-gradient(to right, #000, #000 50%, #0000 50%) left bottom/4px 1px repeat-x;
    transition: 0.3s ease;
    font-weight: 500;
}

header a:hover {
    color: #0c3085;
}

/*-- кнопка header --*/

header a.btn {
    padding: 10px 18px;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 50%, #003CC5 100%);
    background-size: 200% auto;
    transition: 0.5s;
    color: white;
    cursor: pointer;
}

header a.btn:hover {
    background-position: right center;
}


/*--------------------- Navbar ---------------------*/


nav .nav-link {
    font-weight: 500;
    font-size: 18px;
    position: relative;
    color: black;
    white-space: nowrap;
}


@media (min-width: 991px) {
    nav .nav-link::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: orange;
        visibility: hidden;
    }

    nav .nav-link:hover::after {
        visibility: visible;
    }

    nav .nav-link.active::after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background-color: orange;
    }
}

/*-- кнопки Navbar --*/

nav a.btn {
    padding: 10px 18px;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 50%, #003CC5 100%);
    background-size: 200% auto;
    transition: 0.5s;
    color: white;
    cursor: pointer;
}

nav a.btn:hover {
    background-position: right center;
}

nav .navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 22ps;
    filter: contrast(200%);
}

nav .navbar-toggler:focus,
.btn-close:focus {
    outline: none;
    box-shadow: none;
}


/*------------------ Главный экран ------------------*/


main {
    background-image: linear-gradient(135deg, rgba(37, 144, 203, 1) 0%, rgba(222, 66, 175, 1) 50%, rgba(240, 192, 65, 1) 100%);
}

main h1 {
    color: white;
}

main p {
    color: white;
}

main .btn {
    border-radius: 100px;
    padding: 15px 30px;
    font-size: 18px;
}


main .btn::after {
    content: '\f061';
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 14px;
}

main .btn:hover::after {
    content: '\f061';
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 16px;
    transition: .2s;
}


/*--------------------- Галерея ---------------------*/


.gallery .img-block {
    overflow: hidden;
    border-radius: 20px;
}

.gallery .img-block img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

@media (min-width: 991px) {
    .gallery .img-block img:hover {
        scale: 1.03;
    }
}


/*--------------------- Clients ---------------------*/

.clients {
    overflow-x: hidden;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(250px * 12);
}

.slider-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    100% {
        transform: translateX(calc(-250px * 6));
    }
}


/*--------------------- Accordion ---------------------*/


.accordion .accordion-button {
    --bs-accordion-bg: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-btn-focus-box-shadow: none;
    font-size: 19px;
    font-weight: 500;
}

.accordion .accordion-button:hover {
    color: rgb(131, 199, 42);
}

.accordion .accordion-button.collapsed {
    border: 1px solid black;
}

.accordion .accordion-item:has(.accordion-button:not(.collapsed)) {
    border: 2px solid black;
    box-shadow: 4px 4px black;
}

.accordion .accordion-button:not(.collapsed) {
    box-shadow: none;
    color: rgb(131, 199, 42);
}


/*--------------------- Video ---------------------*/


.btn-warning {
    padding: 12px 34px;
    background-color: #ff0000;
    color: white;
    border: none;
}

.btn-warning::after {
    content: '\f061';
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 14px;
}

.btn-warning:hover {
    color: white;
    background-color: #ff3131;
}

.btn-warning:hover::after {
    content: '\f061';
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 16px;
    transition: .2s;
}

.arrows {
    display: flex;
    gap: 7rem;
}

.swiper-pagination {
    bottom: 15px !important;
}

.swiper-button-next,
.swiper-button-prev {
    position: static !important;
    top: auto !important;
    width: auto !important;
    height: auto !important;
    margin-top: auto !important;
}

.swiper-button-prev {
    background-image: url(/main/static/img/arrow.svg);
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 21px;
    width: 50px !important;
    height: 50px !important;
}

.swiper-button-next {
    background-image: url(/main/static/img/arrow.svg);
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 21px;
    width: 50px !important;
    height: 50px !important;
    transform: rotate(180deg);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: whitesmoke;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none !important;
}


.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* Скрытие кнопки при воспроизведении */
.video.playing+.play-button {
    display: none;
}


/*--------------------- Form ---------------------*/


.form .btn-red:hover {
    cursor: pointer;
}


/*--------------------- Footer ---------------------*/


footer {
    background: #233040; 
}

footer, footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    font-size: 14px;
}

footer .bi-instagram:hover {
    color: rgb(255, 125, 233);
}

footer .bi-telegram:hover {
    color: rgb(64, 201, 255);
}

footer .bi-facebook:hover {
    color: rgb(54, 69, 211);
}

footer .bi-telephone-fill:hover {
    color: rgb(100, 211, 66);
}


/*------------------ Прочие страницы ------------------*/


.banner {
    background-image: linear-gradient(135deg, rgba(37, 144, 203, 1) 0%, rgba(222, 66, 175, 1) 50%, rgba(240, 192, 65, 1) 100%);
    background-size: 140%;
    transition: 0.5s;
}

.banner:hover {
    background-image: linear-gradient(135deg, rgba(37, 144, 203, 1) 0%, rgba(222, 66, 175, 1) 50%, rgba(240, 192, 65, 1) 100%);
    background-size: 100%;
}


/*------------------ Политика конфиденциальности ------------------*/


.breadcrumbs ul li {
    margin-right: 8px;
}

.breadcrumbs ul li a {
    display: flex;
    align-items: center;
    color: #777;
}

.breadcrumbs ul li a:hover {
    display: flex;
    align-items: center;
    color: black;
}

.breadcrumbs ul li a::after {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 10px;
    margin-left: 8px;
}

.politics h5 {
    margin: 40px 0;
}

.politics .wp-block-table th, .politics .wp-block-table td {
    border: 1px solid;
    padding: .5em;
}