@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
}

body h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}

body h2 {
    font-size: clamp(1rem, 2.2vw, 2.1rem);
    margin-bottom: 3rem;
}

body h2 {
    font-size: clamp(1.5rem, 2.2vw, 2.1rem);
}

body a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

body p {
    margin: 0;
    padding: 0;
}

body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body video {
    width: 100%;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


/*--------------------- Topper ---------------------*/

.topper {
    white-space: nowrap;
}

/*--------------------- Header ---------------------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header .h-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
    position: relative;
}

@media (min-width: 576px) {
    header .h-icons {
        gap: 2rem;
    }
}

header a {
    font-weight: 400;
}

header a:hover i {
    color: orange;
}

header i {
    font-size: 25px;
}

/* ========================================================== */

header .logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
}

header .logo-disc {
    display: none;
}

@media (min-width: 1200px) {
    header .logo-disc {
        display: inline-block;
        padding-left: 0.6rem;
        border-left: 1px solid gray;
        font-size: 14px;
    }
}

/* ========================================================== */

header .location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    gap: 0.6rem;
}

header .loc-disc {
    display: none;
}

@media (min-width: 992px) {
    header .loc-disc {
        display: inline-block;
    }
}

header .location:hover a {
    color: orange;
}

/* ========================================================== */

header .phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    gap: 0.6rem;
}

header .phone-disc {
    display: none;
}

@media (min-width: 992px) {
    header .phone-disc {
        display: inline-block;
    }
}

header .phone:hover .fa-solid {
    color: orange;
}

header .phone .num-1:hover {
    color: orange;
}

header .phone .num-2:hover {
    color: orange;
}

/* ========================================================== */

header .insta {
    display: none;
}

@media (min-width: 576px) {
    header .insta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        gap: 0.6rem;
    }
}

header .inst-disc {
    display: none;
}

@media (min-width: 1200px) {
    header .inst-disc {
        display: inline-block;
    }
}

header .insta:hover a {
    color: orange;
}

/* ========================================================== */

header .btn-head {
    display: none;
    padding: 16px 18px;
    transition: all 0.3s ease;
    border-radius: 32px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    background: deeppink;
}

@media (min-width: 768px) {
    header .btn-head {
        display: inline-block;
    }
}

header .btn-head:hover {
    color: white;
    background: orange;
}

header .h-icons .nav-icons {
    cursor: pointer;
}

.nav-icons #nav-close {
    display: none;
}

#check:checked~.nav-icons #nav-open {
    display: none;
}

#check:checked~.nav-icons #nav-close {
    display: block;
}

header #check {
    position: absolute;
    top: 10px;
    right: 5px;
    display: none;
}

@media (min-width: 992px) {
    header .h-icons .nav-icons {
        display: none;
    }
}

.topper .line {
    display: none;
}

@media (min-width: 992px) {
    .topper .line {
        display: block;
        height: 1px;
        background-color: rgba(0,0,0,0.1);
    }
}

/*--------------------- Nav-win ---------------------*/

.nav-win ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.nav-win ul li {
    display: none;
}

@media (min-width: 992px) {
    .nav-win ul li {
        display: flex;
        flex: 1;
    }
}

.nav-win ul li a {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
}

.nav-win ul li a:hover {
    background-color: rgba(0,0,0,0.03);
}

.nav-win ul li:not(:last-child) a {
    border-right: 1px solid rgba(0,0,0,0.1);
}

/*========================= Nav-mob =========================*/

.nav-mob {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

@media (min-width: 992px) {
    .nav-mob {
        display: none;
    }
}

.nav-mob.active {
    opacity: 1;
    max-height: 500px;
}

.nav-mob ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
    margin: 2rem;
}

/*========================= Main =========================*/

main {
    background-image: linear-gradient(135deg, rgba(37, 144, 203, 1) 0%, rgba(222, 66, 175, 1) 50%, rgba(240, 192, 65, 1) 100%);
    color: white;
}

main .main-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .main-disc {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
    gap: 2rem;
    padding-right: 2rem;
}


main .main-img {
    flex: 0 0 55%;
    margin: 5rem 0;
}

@media (max-width: 992px) {
    main .main-items {
        flex-direction: column;
    }

    main .main-disc {
        margin-top: 3rem;
    }

    main .main-disc,
    main .main-img {
        flex: 0 0 100%;
        width: 100%;
    }
}

main p {
    margin-right: 3rem;
}

main h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
}

main .btn-main {
    margin-right: auto;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 18px;
    color: white;
}

main .btn-main:hover {
    background: orange;
    color: black;
    border: 1px solid orange;
}

main .btn-main::after {
    content: '\f061';
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 14px;
    transition: all 0.3s ease;
}

main .btn-main:hover::after {
    margin-left: 18px;
    font-size: 16px;
}

/*========================= Best Icons =========================*/

.best-icons {
    margin: 5rem auto;
    text-align: center;
}

.best-icons .b-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.best-icons .b-items div {
    flex: 1;
    background-color: rgba(0,0,0,0.02);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 30px;
}

@media (max-width: 992px) {
    .best-icons .b-items {
        flex-direction: column;
    }
}

.best-icons .b-items h3 {
    margin: 1rem;
    user-select: none;
}

.best-icons .b-items div:hover h3 {
    color: orange;
}

.best-icons .b-items p {
    color: rgba(0,0,30,0.75);
}

/*--------------------- Gallery ---------------------*/

.gallery {
    background-color: rgba(0,0,0,0.02);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5rem 0;
}

.gallery .g-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (min-width: 768px) {
    .gallery .g-block {
        grid-template-columns: repeat(4, 1fr);
    }
}

.gallery .img-block {
    overflow: hidden;
    border-radius: 20px;
}

.gallery .img-block img {
    width: 100%;
    transition: all 0.3s ease;
}

@media (min-width: 992px) {
    .gallery .img-block img:hover {
        scale: 1.03;
    }
}

.gallery .hidden-gallery {
    display: none;
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .gallery .hidden-gallery {
        display: block;
    }
}

.gallery button {
    display: block;
    margin: 2rem auto;
    border: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

@media (min-width: 768px) {
    .gallery button {
        display: none;
    }
}

.gallery .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
}

.gallery .modal-content {
    max-width: 90%;
    max-height: 80vh;
    border-radius: 5px;
    border: 5px solid white;
}

.gallery .modal-close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.1s ease;
}

.gallery .modal-close:hover {
    opacity: 1;
    scale: 1.1;
}

/*--------------------- Clients ---------------------*/

.clients {
    overflow-x: hidden;
    padding: 5rem 0;
}

.clients h2 {
    text-align: center;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(250px * 12);
}

.slider-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scroll 30s linear infinite;
}

@keyframes scroll {
    100% {
        transform: translateX(calc(-250px * 6));
    }
}

/*--------------------- Video ---------------------*/

.video {
    padding: 5rem 0;
    border: 1px solid rgba(0,0,0,0.1);
}

.video h2 {
    margin-bottom: 0.5rem;
}

.video .v-disc {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    .video .v-disc {
        flex-direction: row;
    }
}

.video .btn-vid {
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video .btn-vid a {
    padding: 14px 34px;
    background-color: deeppink;
    color: white;
    border-radius: 24px;
}

.video .btn-vid a:hover {
    color: white;
    background-color: orange;
}

.video .btn-vid a i {
    margin-right: 0.2rem;
}

.swiper {
    margin-top: 3rem;
}

.swiper .swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper .video-wrapper video {
    border-radius: 10px;
}

.video .arrows {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 2rem;
}

.video .swiper-button-next,
.video .swiper-button-prev {
    position: relative;
    background-image: url(/static/img/arrow.svg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 21px;
    width: 50px !important;
    height: 50px !important;
    border: 1px solid rgba(0,0,0,0.2);
}

.video .swiper-button-next {
    transform: rotate(180deg);
}

.video .swiper-button-next:hover,
.swiper-button-prev:hover {
    border: 1px solid orange;
    background-color: orange;
}

.video .swiper-button-prev::after,
.video .swiper-button-next::after {
    display: none !important;
}

.video .swiper-pagination {
    position: relative;
    width: auto;
}

.video .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video .play-button::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.video .playing + .play-button {
    display: none;
}

/*--------------------- Accordion ---------------------*/

.accordion-block {
    padding: 5rem 0;
    background-color: rgba(0,0,0,0.02);
    border: 1px solid rgba(0,0,0,0.1);
}

.accordion-block h2 {
    text-align: center;
    margin-bottom: 3rem;
}

.accordion {
    margin: 0 auto;
}

.accordion .QA {
    background: white;
    list-style: none;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 30px;
}

@media (min-width: 768px) {
    .accordion .QA {
        width: 80%;
    }
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.accordion li label:hover {
    color: orange;
}

.accordion label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.accordion input[type="checkbox"] {
    display: none;
}

.accordion .content {
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.accordion input[type="checkbox"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="checkbox"]:checked + label::before {
    content: '‒';
}

/*--------------------- Form ---------------------*/

.form-wrapper {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media (min-width: 992px) {
    .form-wrapper {
        flex-direction: row;
    }
}

.img-form {
    flex: 1 1 50%;
    overflow: hidden;
}

.form .img-form img {
    width: 100%;
    height: 100%;
}

.form form {
    display: flex;
    justify-content: center;
    flex: 1 1 50%;
    background-color: rgba(0,0,0,0.03);
}

.form-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.7rem;
}

@media (min-width: 992px) {
    .form-items {
        margin-top: 0;
        margin: 3rem;
    }
}

.form-title {
    margin-bottom: 0.5rem;
}

.form-title h2 {
    margin-bottom: 1rem;
}

.form-title p {
    color: gray;
}

.form-items .form-control {
    font-size: 16px;
}

.form-items input {
    height: 50px;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid gray;
    background: none;
}

.btn-file {
  display: inline-block;
  padding: 8px 20px;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: auto;
}

.btn-file:hover {
  background-color: #218838;
}

.btn-file-wrapper span {
    margin-left: 1rem;
    color: gray;
    font-size: 12px;
    font-style: italic;
}

.form-items textarea {
    padding: 1rem;
    border: none;
    border-bottom: 1px solid black;
}

.form .btn-form {
    padding: 18px 34px;
    margin-top: 1rem;
    margin-left: auto;
    background: orange;
    color: white;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    font-size: 16px;
}

/*--------------------- Footer ---------------------*/

footer {
    padding: 3rem 0;
    background-color: #233040;
    border: 1px solid rgba(0,0,0,0.1);
}

footer .f-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 992px) {
    footer .f-content {
        flex-direction: row;
    }
}

footer, footer a {
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: orange;
}

footer p {
    font-size: 14px;
}

.f-block-1 {
    display: flex;
    flex: 1 1 50%;
    gap: 2rem;
}

.f-block-2 {
    flex: 1 1 50%;
}

.f-cont-1, .f-cont-2 {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    gap: 1rem;
}

.f-cont-1 ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.f-cont-2 ul {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.f-icons {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}


footer .bi-instagram:hover {
    color: rgb(230, 150, 233);
}

footer .bi-telegram:hover {
    color: rgb(64, 201, 255);
}

footer .bi-facebook:hover {
    color: rgb(54, 69, 211);
}

footer .bi-telephone-fill:hover {
    color: rgb(100, 211, 66);
}

.f-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.f-bottom .rights-1 {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

@media (min-width: 576px) {
    .f-bottom .rights-1 {
        flex-direction: row;
    }
}


.f-bottom .rights-2 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


/*------------------ Прочие страницы ------------------*/

.banner {
    padding: 3rem 0;
    background-image: linear-gradient(135deg, rgba(37, 144, 203, 1) 15%, rgba(222, 66, 175, 1) 60%, rgba(240, 192, 65, 1) 100%);
    transition: all 0.3s ease;
    color: white;
}

.banner .container h1 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

/*------------------ Политика конфиденциальности ------------------*/

.breadcrumbs ul {
    display: flex;
}

.breadcrumbs ul li a {
    display: flex;
    align-items: center;
    color: white;
}

.breadcrumbs ul li a:hover {
    text-decoration: underline;
}

.breadcrumbs ul li span::before {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 10px;
    margin: 0 0.5rem;
    text-decoration: none;
}

.politics {
    padding: 5rem 0;
}

.politics h1 {
    margin-bottom: 0.5rem;
}

.politics h4 {
    margin: 40px 0;
}

.politics .wp-block-table th, .politics .wp-block-table td {
    border: 1px solid;
    padding: .5em;
}