{% extends 'layout.html' %}
{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/svg+xml">

    <meta name="description" content="about">
    <meta name="keywords" content="типография Узбекистан, печать упаковки, офсетная печать, флексопечать, печать этикеток, производство коробок, дизайн упаковки, этикетки на заказ, полиграфия Ташкент">

    <!-- OpenGraph -->
    <meta property="og:title" content="Печать этикеток и упаковок в Ташкенте">
    <meta property="og:description" content="Наша типография предлагает офсетную и флексо печать упаковок, коробок, этикеток. Разработка дизайна.">
    <meta property="og:image" content="{% static 'img/og_cover.webp' %}">
    <meta property="og:url" content="https://guneshprint.uz">
    <meta property="og:type" content="website">
{% endblock %}

{% block body%}

    <div class="banner">
        <div class="container">
            <h1>{{ h1_content.main_heading }}</h1>
            <p>Изготовление этикеток и упаковок под заказ в Ташкенте.
                Высокое качество печати, быстрая доставка и разумные цены.</p>
        </div>
    </div>

{% endblock %}