{% extends 'layout.html' %}
{% load static %}

{% block title %}Gunesh Print - Типография в Ташкенте{% endblock %}

{% block body%}

<!-- Главный экран -->
<main class="py-5 mt-4">
    <div class="container">
        <div class="row align-items-center">
            <div class='col-lg-5 '>
                <h1 class="">Печать самоклеящихся этикеток и упаковок в рулонах и на офсетной печати в Ташкенте</h1>
                <p class="mt-4 me-5">Рассчитаем точную стоимость за 20 минут со скидкой на первый заказ</p>
                <a class="btn btn-warning my-3 mb-5 mb-lg-0 my-lg-5" href="https://t.me/shamsuz1983">Узнать
                    стоимость</a>
            </div>
            <div class="col-lg-7">
                <img src="{% static 'img/hero.webp' %}" class="img-fluid" alt="etiketki upakovki">
            </div>
        </div>
    </div>
</main>

<!-- Иконки -->
<div class="container my-5 pt-lg-5">
    <h2 class="text-center">Почему именно мы?</h2>
    <div class="row text-center py-3 py-md-5">
        <div class="col-lg-4 px-5">
            <i class="bi bi-stopwatch" style="font-size: 70px;"></i>
            <h4>Работаем в сжатые сроки и только на результат</h4>
            <p>Мы гарантируем оперативное выполнение заказов в самом наилучшем качестве без потери лишних средств</p>
        </div>
        <div class="col-lg-4 px-5">
            <i class="bi bi-truck" style="font-size: 70px;"></i>
            <h4>Доставка по Узбекистану и Таджикистану</h4>
            <p>Отправка почтовой службой или другим удобным для вас способом в удобное для вас время суток</p>
        </div>
        <div class="col-lg-4 px-5">
            <i class="bi bi-star" style="font-size: 70px;"></i>
            <h4>Высокое качество изготовления продукции</h4>
            <p>Современное оборудование и качественные материалы обеспечивают яркие цвета, четкость деталей и
                долговечность</p>
        </div>
    </div>
</div>

<!-- Галерея -->
<div class="gallery bg-light py-3">
    <div class="container my-5">
        <h2 class="pb-5">Галерея</h2>

        <div class="gallery-block row gy-4">
            <div class="img-block col-6 col-md-3">
                <div class="img-block">
                    <img src="{% static 'img/gallery/up_1.jpg' %}" alt="...">
                </div>
            </div>
            <div class="img-block col-6 col-md-3">
                <div class="img-block">
                    <img src="{% static 'img/gallery/up_2.jpg' %}" alt="...">
                </div>
            </div>
            <div class="img-block col-6 col-md-3">
                <div class="img-block">
                    <img src="{% static 'img/gallery/up_3.jpg' %}" alt="...">
                </div>
            </div>
            <div class="img-block col-6 col-md-3">
                <div class="img-block">
                    <img src="{% static 'img/gallery/up_4.jpg' %}" alt="...">
                </div>
            </div>
            <!-------------------------------------------------------------------->
            <div class="col-6 col-md-3">
                <div class="img-block">
                    <img src="{% static 'img/gallery/up_5.jpg' %}" alt="...">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="img-block">
                    <img src="{% static 'img/gallery/up_6.jpg' %}" alt="...">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="img-block">
                    <img src="{% static 'img/gallery/up_7.jpg' %}" alt="...">
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="img-block">
                    <img src="{% static 'img/gallery/up_8.jpg' %}" alt="...">
                </div>
            </div>
        </div>

        <div class="hidden-gallery d-none d-md-block">

            <div class="gallery-block row gy-4 pt-4">
                <div class="col-6 col-md-3">
                    <div class="img-block">
                        <img src="{% static 'img/gallery/up_9.jpg' %}" alt="...">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="img-block">
                        <img src="{% static 'img/gallery/up_10.jpg' %}" alt="...">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="img-block">
                        <img src="{% static 'img/gallery/up_11.jpg' %}" alt="...">
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="img-block">
                        <img src="{% static 'img/gallery/up_12.jpg' %}" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <!-- Кнопка "Показать больше" -->
        <div class="text-center mt-4 d-md-none">
            <button id="showMoreBtn" class="btn">
                Показать больше <i class="bi bi-chevron-down"></i>
            </button>
        </div>

        <!-- Модальное окно -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img id="modalImg" class="img-fluid rounded" src="" alt="Просмотр изображения">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Нам доверяют -->
<div class="clients py-3">
    <div class="my-5 px-0">
        <h2 class="text-center pb-5">Нам доверяют</h2>
        <div class="slider">
            <div class="slider-items">
                <img src="{% static 'img/clients/client-1.webp' %}" alt="">
                <img src="{% static 'img/clients/client-2.webp' %}" alt="">
                <img src="{% static 'img/clients/client-3.webp' %}" alt="">
                <img src="{% static 'img/clients/client-4.webp' %}" alt="">
                <img src="{% static 'img/clients/client-5.webp' %}" alt="">
                <img src="{% static 'img/clients/client-6.webp' %}" alt="">

                <img src="{% static 'img/clients/client-1.webp' %}" alt="">
                <img src="{% static 'img/clients/client-2.webp' %}" alt="">
                <img src="{% static 'img/clients/client-3.webp' %}" alt="">
                <img src="{% static 'img/clients/client-4.webp' %}" alt="">
                <img src="{% static 'img/clients/client-5.webp' %}" alt="">
                <img src="{% static 'img/clients/client-6.webp' %}" alt="">
        </div>
    </div>
</div>

<!-- Accordion -->
<div class="accordion bg-light">
    <div class="container py-5" id="accordionExample">
        <h2 class="text-center pb-5">Часто задаваемые вопросы</h2>

        <!--1-->
        <div class="accordion-item rounded-3 mt-3 ">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Сколько времени занимает печать?
                    </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <hr class="mx-3 my-0">
                <div class="accordion-body">
                    <p>Сроки зависят от тиража, вида печати и сложности работы:</p>
                    <ul>
                        <li>- Цифровая печать подходит для небольших тиражей и срочных заказов.
                            Обычно занимает от 1 до 2 рабочих дней.</li>
                        <li>- Офсетная печать оптимальна для больших объемов и дает высокую детализацию. Выполнение
                            занимает от 3 до 7 рабочих
                            дней.</li>
                        <li>- Постпечатная обработка ламинирование, тиснение, вырубка и другие дополнительные услуги
                            могут продлить сроки на 1-3
                            дня.</li>
                    </ul>
                    <p>Если у вас срочный заказ, то уточните возможность ускоренного производства.</p>
                </div>
            </div>
        </div>

        <!--2-->
        <div class="accordion-item mt-3 rounded-3">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Имеется ли у вас собственное производство?
                    </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <hr class="mx-3 my-0">
                <div class="accordion-body">
                    <p>Да, у нас есть современное профессиональное оборудование, которое позволяет выполнять печать
                        быстро и с высоким
                        качеством. Собственное производство даёт нам возможность контролировать каждый этап работы — от
                        подготовки макета до
                        финального результата, а также предлагать конкурентные цены и оперативные сроки изготовления.
                    </p>
                </div>
            </div>
        </div>

        <!--3-->
        <div class="accordion-item mt-3 rounded-3">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Есть ли у вас свой штатный дизайнер?
                    </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <hr class="mx-3 my-0">
                <div class="accordion-body">
                    <p>Да, у нас в штате есть профессиональный дизайнер, который поможет вам с разработкой макета,
                        внесением правок или
                        созданием дизайна с нуля. Мы учтём все ваши пожелания и технические требования, чтобы итоговый
                        результат выглядел
                        качественно и соответствовал стандартам печати.
                    </p>
                </div>
            </div>
        </div>

        <!--4-->
        <div class="accordion-item mt-3 rounded-3">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Как правильно подготовить макет к печати?
                    </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <hr class="mx-3 my-0">
                <div class="accordion-body">
                    <p>Чтобы ваш заказ вышел на печати корректно, важно соблюдать несколько правил подготовки макета:
                    </p>
                    <ul>
                        <li>- Вылеты за край (bleeds) - добавьте по 3-5 мм с каждой стороны, чтобы после обрезки не
                            появлялись белые края.</li>
                        <li>- Безопасная зона - держите важные элементы (текст, логотипы) не ближе 5 мм от края.</li>
                        <li>- Цветовая модель CMYK - цвета в RGB могут отличаться при печати, поэтому переведите макет в
                            CMYK.</li>
                        <li>- Разрешение растровых изображений не менее 300 dpi - для четкой печати важно использовать
                            изображения высокого качества.</li>
                    </ul>
                    <p>Если не уверены в правильности макета, мы можем проверить и скорректировать его перед печатью.
                    </p>
                </div>
            </div>
        </div>

        <!--5-->
        <div class="accordion-item mt-3 rounded-3">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Какой лучше выбрать материал для печати?
                    </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <hr class="mx-3 my-0">
                <div class="accordion-body">
                    <p>Наши специалисты подскажут, какой материал лучше всего подойдет для вашей продукции, учитывая её
                        назначение, долговечность и бюджет.
                        У нас есть широкий выбор бумаги, картона, плёнок и других материалов, которые можно подобрать
                        под индивидуальные требования.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Видео галерея -->
<section id="video-gallery" class="video-gallery py-3">
    <div class="container my-5">

        <div class="d-flex justify-content-between flex-wrap mx-3 pb-3 my-3">
            <div>
                <h2 class="">Вы ещё думаете?</h2>
                <p class="">Тогда рекомендуем Вам посмотреть наши видео!</p>
            </div>

            <div class="pt-3">
                <a class="btn-warning rounded-5 fs-5 mb-5" href="https://t.me/shamsuz1983"
                    title="Перейти в Telegram">Задать вопрос</a>
            </div>
        </div>

        <div class="swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide d-flex justify-content-center">
                    <div class="video-wrapper">
                        <video src="{% static 'vid/v-01.mp4' %}" class="video-item rounded-4" width="300"
                            poster="{% static 'vid/vid-cov/v-01.jpg' %}"></video>
                        <div class="play-button"></div>
                    </div>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <div class="video-wrapper">
                        <video src="{% static 'vid/v-02.mp4' %}" class="video-item rounded-4" width="300"
                            poster="{% static 'vid/vid-cov/v-02.jpg' %}"></video>
                        <div class="play-button"></div>
                    </div>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <div class="video-wrapper">
                        <video src="{% static 'vid/v-03.mp4' %}" class="video-item rounded-4" width="300"
                            poster="{% static 'vid/vid-cov/v-03.jpg' %}"></video>
                        <div class="play-button"></div>
                    </div>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <div class="video-wrapper">
                        <video src="{% static 'vid/v-04.mp4' %}" class="video-item rounded-4" width="300"
                            poster="{% static 'vid/vid-cov/v-04.jpg' %}"></video>
                        <div class="play-button"></div>
                    </div>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <div class="video-wrapper">
                        <video src="{% static 'vid/v-05.mp4' %}" class="video-item rounded-4" width="300"
                            poster="{% static 'vid/vid-cov/v-05.jpg' %}"></video>
                        <div class="play-button"></div>
                    </div>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <div class="video-wrapper">
                        <video src="{% static 'vid/v-06.mp4' %}" class="video-item rounded-4" width="300"
                            poster="{% static 'vid/vid-cov/v-06.jpg' %}"></video>
                        <div class="play-button"></div>
                    </div>
                </div>

                <div class="swiper-slide d-flex justify-content-center">
                    <div class="video-wrapper">
                        <video src="{% static 'vid/v-07.mp4' %}" class="video-item rounded-4" width="300"
                            poster="{% static 'vid/vid-cov/v-07.jpg' %}"></video>
                        <div class="play-button"></div>
                    </div>
                </div>

            </div>

            <div class="arrows d-flex justify-content-center pt-5">
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>

        </div>

    </div>
</section>

<!-- Form -->
<div class="py-0 py-md-5">
    <div class="container my-5">
        <div class="row">

            <form action="https://api.web3forms.com/submit" method="POST" class="col-md-5 pe-auto pe-md-5">

                <input type="hidden" name="access_key" value="45edcdc5-6f3e-48d6-8d90-9f5115a5ef92">

                <h2 class="pb-4">Рассчитаем заказ?</h2>

                <div class="mb-3">
                    <label for="firstName" class="form-label">Имя / Название компании:</label>
                    <input type="text" class="form-control" id="firstName" name="Имя / Название компании:" placeholder="Введите имя" required>
                </div>

                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Номер телефона:</label>
                    <input type="text" class="form-control" id="phoneNumber" name="Номер телефона" placeholder="+998" required>
                </div>

                <div class="mb-3">
                    <label for="file" class="form-label">Прикрепите файлы:</label>
                    <input type="file" class="form-control" name="Файлы" id="file">
                </div>

                <div class="mb-4">
                    <label for="comments" class="form-label">Комментарий:</label>
                    <textarea class="form-control" id="comments" rows="3" name="Комментарий" required></textarea>
                </div>

                <div>
                    <button class="btn btn-primary w-100 rounded-5 py-2" onclick="sendButton(this)">Отправить заявку</button>
                </div>

            </form>

            <div class="col-md-7 pt-5 pt-md-0 ps-auto ps-md-5">
                <img class="pb-3" src="{% static 'img/offset.webp' %}" alt="Печать в Ташкенте">
                <h2 class="py-4">Типография - Gunesh Print</h2>
                <p>Мы предлагаем качественную полиграфию для вашего бизнеса и личных нужд.
                    Визитки, буклеты, афиши, каталоги и многое другое — всё в высоком качестве
                    и по доступным ценам. Яркие краски, прочные материалы и быстрые сроки изготовления!</p>
            </div>

        </div>
    </div>
</div>

{% endblock %}