{% extends 'layout.html' %}
{% load static %}

{% block title %}Gunesh Print - Этикетки{% endblock %}

{% block body%}


    <div class="banner">
        <div class="container">
            <h1>Самоклеящиеся этикетки</h1>
            <p>Изготовление этикеток под заказ на офсетной печати. Высокое качество печати, быстрая доставка и разумные цены.</p>
        </div>
    </div>

    <!-- Gallery -->
    <div class="gallery">
        <div class="container">
            <h2>Галерея</h2>

            <div class="g-block">
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/labels/l-01.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/labels/l-02.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/labels/l-03.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/labels/l-04.webp' %}" alt="...">
                    </div>
                </div>

                <!-------------------------------------------------------------------->
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/labels/l-05.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/labels/l-06.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/labels/l-07.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/labels/l-08.webp' %}" alt="...">
                    </div>
                </div>
            </div>

            <div class="hidden-gallery">
                <div class="g-block">
                    <div>
                        <div class="img-block">
                            <img src="{% static 'img/labels/l-09.webp' %}" alt="...">
                        </div>
                    </div>
                    <div>
                        <div class="img-block">
                            <img src="{% static 'img/labels/l-10.webp' %}" alt="...">
                        </div>
                    </div>
                    <div>
                        <div class="img-block">
                            <img src="{% static 'img/labels/l-11.webp' %}" alt="...">
                        </div>
                    </div>
                    <div>
                        <div class="img-block">
                            <img src="{% static 'img/labels/l-12.webp' %}" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Show more button -->
            <button class="btn-show-more">
                Показать больше <i class="bi bi-chevron-down"></i>
            </button>

            <!-- Modal window -->
            <div class="modal">
                <span class="modal-close">&times;</span>
                <img class="modal-content" src="" alt="">
            </div>

        </div>
    </div>

{% endblock %}