{% extends 'layout.html' %}
{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Упаковки</title>
    <link rel="icon" href="{% static 'img/favicon.svg' %}" type="image/svg+xml">

    <meta name="description" content="packaging">
    <meta name="keywords" content="типография Узбекистан, печать упаковки, офсетная печать, флексопечать, печать этикеток, производство коробок, дизайн упаковки, этикетки на заказ, полиграфия Ташкент">

    <!-- OpenGraph -->
    <meta property="og:title" content="Печать этикеток и упаковок в Ташкенте">
    <meta property="og:description" content="Наша типография предлагает офсетную и флексо печать упаковок, коробок, этикеток. Разработка дизайна.">
    <meta property="og:image" content="{% static 'img/og_cover.webp' %}">
    <meta property="og:url" content="https://guneshprint.uz">
    <meta property="og:type" content="website">
{% endblock %}

{% block body%}


    <div class="banner">
        <div class="container">
            <h1>{{ h1_content.main_heading }}</h1>
            <p>Изготовление упаковок под заказ на офсетной печати. Высокое качество печати, быстрая доставка и разумные цены.</p>
        </div>
    </div>

    <!-- Gallery -->
    <div class="gallery">
        <div class="container">
            <h2>Галерея</h2>

            <div class="g-block">
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/packs/p-01.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/packs/p-02.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/packs/p-03.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/packs/p-04.webp' %}" alt="...">
                    </div>
                </div>

                <!-------------------------------------------------------------------->
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/packs/p-05.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/packs/p-06.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/packs/p-07.webp' %}" alt="...">
                    </div>
                </div>
                <div>
                    <div class="img-block">
                        <img src="{% static 'img/packs/p-08.webp' %}" alt="...">
                    </div>
                </div>
            </div>

            <div class="hidden-gallery">
                <div class="g-block">
                    <div>
                        <div class="img-block">
                            <img src="{% static 'img/packs/p-09.webp' %}" alt="...">
                        </div>
                    </div>
                    <div>
                        <div class="img-block">
                            <img src="{% static 'img/packs/p-10.webp' %}" alt="...">
                        </div>
                    </div>
                    <div>
                        <div class="img-block">
                            <img src="{% static 'img/packs/p-11.webp' %}" alt="...">
                        </div>
                    </div>
                    <div>
                        <div class="img-block">
                            <img src="{% static 'img/packs/p-12.webp' %}" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Show more button -->
            <button class="btn-show-more">
                Показать больше <i class="bi bi-chevron-down"></i>
            </button>

            <!-- Modal window -->
            <div class="modal">
                <span class="modal-close">&times;</span>
                <img class="modal-content" src="" alt="">
            </div>

        </div>
    </div>

{% endblock %}