{% extends 'layout.html' %}
{% load static %}

{% block title %}Gunesh Print - Этикетки{% endblock %}

{% block body%}


    <div class="banner">
        <div class="container breadcrumbs">
          <ul>
              <li><a href="{% url 'home' %}">Главная</a></li>
              <li><span>Terms of use</span></li>
          </ul>
        </div>
    </div>


    <div class="politics">
        <div class="container">
            <h1>Правила пользования сайта</h1>
            <p>При использовании сайта guneshprint.uz пользователи обязуются соблюдать следующие правила:</p>
            <h4 class="wp-block-heading">1. Указание достоверной информации:</h4>
            <p>Все данные, предоставляемые пользователем при оформлении заказа или регистрации, должны быть точными и актуальными. Пользователь несет ответственность за корректность указанной информации.</p>
            <h4 class="wp-block-heading">2. Запрещение несанкционированного доступа:</h4>
            <p>Любые попытки взлома, несанкционированного доступа к базе данных, системам сайта или другим аккаунтам пользователей запрещены и могут повлечь за собой административные и правовые последствия.</p>
            <h4 class="wp-block-heading">3. Соблюдение авторских прав:</h4>
            <p>Контент сайта, включая тексты, изображения и другие материалы, защищен авторскими правами. Любое использование материалов сайта без разрешения владельцев запрещено.</p>
            <h4 class="wp-block-heading">4. Ответственное использование услуг:</h4>
            <p>Пользователи обязуются использовать предоставленные услуги в соответствии с назначением и не предпринимать действий, направленных на подрыв работы сайта или злоупотребление его функциями.</p>
            <h4 class="wp-block-heading">5. Соблюдение действующего законодательства РУз:</h4>
            <p>Пользователи обязаны соблюдать законы и правовые нормы, применимые к их местонахождению, и несут ответственность за любые действия, нарушающие такие законы.</p>
            <h4 class="wp-block-heading">6. Сообщение о нарушениях:</h4>
            <p>Пользователи могут сообщать о любых нарушениях правил сайта или некорректном поведении других пользователей, обратившись в службу поддержки.</p>
            <h4 class="wp-block-heading">7. Ограничение ответственности</h4>
            <p>Aurawood не несет ответственности за последствия, вызванные сторонним вмешательством, недоступностью услуг по техническим причинам или несоответствием товара ожиданиям клиента, при условии, что товар описан верно.</p>
            <h4 class="wp-block-heading">8. Изменение условий</h4>
            <p>Мы оставляем за собой право обновлять и изменять условия использования сайта. Все обновления будут публиковаться на странице guneshprint.uz/terms/</p>
            <h4 class="wp-block-heading">9. Контактная информация</h4>
            <p>Для любых вопросов и запросов по использованию сайта и услуг, пожалуйста, обращайтесь в чат службы поддержки на сайте, в телеграм чат, или по электронной почте: guneshprint@gmail.com</p>
        </div>
    </div>


{% endblock %}